
.ipynb_checkpoints/video_games_scraper_90_days-checkpoint.ipynb
.ipynb_checkpoints/video_games_scraper_all_time-checkpoint.ipynb
.ipynb_checkpoints/mc_90_days-checkpoint.csv
.ipynb_checkpoints/video_games_scraper_2020-checkpoint.ipynb
